APP_ENV=local
DEBUG=True
DJANGO_SECRET_KEY=dev-secret-key-cambiar-en-dokploy
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=fluency_local
DB_USER=fluency_local_user
DB_PASSWORD=tu_password_local
DB_HOST=127.0.0.1
DB_PORT=5432
